
.demo {
    background-color: dodgerblue;
    color: white;
}
.bemo {
    background-color: green;
    color: white;


}
.cemo {
    background-color: blue;
    color: white;

}
.lemo {
    background-color: yellow;
    color: black;

}